.Stack {
    text-align: center;
    border-bottom: 1px solid #000000;
  }

  .Stack h1 {
    font-size: 40px;
    font-family: cursive;
    background-color: #023115;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
  }
  
  .icon {
    color: #555;
    transition: color 0.3s;
  }
  
  .icon:hover {
    color: #000;
  }

  
  